<!-- template that displays individual website entries -->
<template name="website_item">
<li>
	<a href="{{url}}" target="_blank" >{{title}} </a><a href="/website/{{_id}}" class="js-moreDetails">More ...</a>
	<p>
		{{description}}
	</p>
	<a href="#" class="btn btn-default js-upvote">
		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>({{upvote}})
	</a>
	<a href="#" class="btn btn-default js-downvote">
		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>({{downvote}})
	</a>
	<!-- you will be putting your up and down vote buttons in here! -->
</li>
</template>